<% layout('/layouts/boilerplate') %>
<body>
<div class="row">
<div class="col-8 offset-2">
<h3>Create a new Listing</h3>
<br/><br/>
<form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data" >
<div class="mb-3">
<label for="title" class="form-label">Title</label>
<input name="listing[title]" type="text" placeholder="Add a catchy title" class="form-control" required/>
<div class="valid-feedback">
     Title Looks good!
    </div>
</div>
<div class="mb-3">
<label for="description" class="form-label">Description</label>
<textarea name="listing[description]" class="form-control" required></textarea>

<div class="invalid-feedback">
     Please enter the short description
    </div></div>

<div class="mb-3">
  <label for="image" class="form-label">Upload Listing Image</label>
  <input 
    type="file" 
     name="listing[image]"
    class="form-control"
    required
  />
</div>
<div class="row">
<div class="mb-3 col-md-4">
<label for="price" class="form-label">Price</label>
<input name="listing[price]" placeholder="1200" type="number" class="form-control" required/>
<div class="invalid-feedback">
     Please enter valid price
    </div>
</div>
<div class="mb-3 col-md-8">
<label for="country" class="form-label">Country</label>
<input name="listing[country]" placeholder="India" type="text" class="form-control" required/>
<div class="invalid-feedback">
     Please enter the country name
    </div>
</div>
</div>
<div class="mb-3">
  <label for="location" class="form-label">Location</label> 
  <input name="listing[location]" placeholder="Jaypur,Rajsthan" type="text" class="form-control" required/>
  <div class="invalid-feedback">
     Please enter the location
    </div>
</div>
<br/><br/>
<div class="mb-3">
  <label for="category" class="form-label">Category</label>
  <select name="listing[category]" class="form-select" required>
    <option value="" disabled selected>Select Category</option>
    <option value="trending">🔥 Trending</option>
    <option value="rooms">🛏 Rooms</option>
    <option value="iconic">🏙 Iconic Cities</option>
    <option value="mountain">🏔 Mountain</option>
    <option value="castle">🏰 Castles</option>
    <option value="pool">🏊 Amazing Pools</option>
    <option value="camping">🏕 Camping</option>
    <option value="farm">🐄 Farms</option>
    <option value="arctic">❄ Arctic</option>
    <option value="domes">🛖 Domes</option>
    <option value="boats">⛵ Boats</option>
  </select>
  <div class="invalid-feedback">
    Please select a category
  </div>
</div>

<button class="btn btn-dark add-btn">Add</button>
<br/><br/>
</form> 
</div>
</div>  
</body>